/* 翻訳ボタン */

.ext-trans-btn {
    position: absolute !important;
    box-sizing: border-box !important;
    background: #FFFFFF !important;
    border: 1px solid #CCCCCC !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    min-width: 27px !important;
    min-height: 27px !important;
    max-width: 27px !important;
    max-height: 27px !important;
    width: 27px !important;
    height: 27px !important;
    padding: 2px !important;
    z-index: 10000 !important;
}

.ext-trans-icon {
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    z-index: 10000 !important;
}

/* 翻訳モーダル */

.ext-trans-modal {
    position: fixed !important;
    background: #FFFFFF !important;
    box-sizing: content-box !important;
    box-shadow: 0 0 10px #AAAAAA !important;
    border: 2px solid #AAAAAA !important;
    border-radius: 5px !important;
    cursor: move !important;
    padding: 0 !important;
    margin: 0 !important;
    z-index: 10000 !important;
    width: 400px;
    top: 10px;
    right: 10px;
}

.ext-trans-container {
    overflow-x: hidden !important;
    overflow-y: auto !important;
    overscroll-behavior: contain !important;
    max-height: inherit !important;
    height: 100% !important;
}

/* 翻訳アイテム */

.ext-trans-item {
    position: relative !important;
    border: 2px solid #CCCCCC !important;
    border-radius: 5px !important;
    width: auto !important;
    padding: 0 !important;
    margin: 8px !important;
    z-index: 10000 !important;
}

.ext-trans-item hr {
    display: block !important;
    width: auto !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    border-top: 1px solid #CCCCCC !important;
}

.ext-trans-text {
    color: #252525 !important;
    cursor: initial !important;
    overflow-x: hidden !important;
    text-align: left !important;
    font-family: sans-serif !important;
    font-size: 16px !important;
    margin: 8px !important;
    z-index: 10000 !important;
}

/* ローディング */

.ext-trans-load {
    position: absolute !important;
    display: inline-block !important;
    background: #252525 !important;
    border-radius: 50% !important;
    opacity: 0 !important;
    width: 18px !important;
    height: 18px !important;
    top: 8px !important;
    right: 8px !important;
    animation: ext-trans-load 0.75s linear infinite !important;
}

@keyframes ext-trans-load {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 1;
    }
}

/* 閉じるボタン */

.ext-close-btn {
    position: absolute !important;
    box-sizing: content-box !important;
    background: #FFFFFF !important;
    color: #888888 !important;
    border: 2px solid #AAAAAA !important;
    border-radius: 50% !important;
    text-align: center !important;
    cursor: pointer !important;
    font-family: sans-serif !important;
    font-size: 20px !important;
    line-height: 20px !important;
    width: 20px !important;
    height: 20px !important;
    top: -5px !important;
    right: -5px !important;
    z-index: 10000 !important;
}

/* リサイズ */

.ext-trans-modal .ui-resizable-handle {
    position: absolute;
    display: block;
    z-index: 10000;
}

.ext-trans-modal .ui-resizable-n {
    cursor: ns-resize;
    width: calc(100% + 10px);
    height: 10px;
    top: -5px;
    left: -5px;
}

.ext-trans-modal .ui-resizable-s {
    cursor: ns-resize;
    width: calc(100% + 10px);
    height: 10px;
    bottom: -5px;
    left: -5px;
}

.ext-trans-modal .ui-resizable-e {
    cursor: ew-resize;
    width: 10px;
    height: calc(100% + 10px);
    top: -5px;
    right: -5px;
}

.ext-trans-modal .ui-resizable-w {
    cursor: ew-resize;
    width: 10px;
    height: calc(100% + 10px);
    top: -5px;
    left: -5px;
}

.ext-trans-modal .ui-resizable-se {
    cursor: nwse-resize;
    width: 15px;
    height: 15px;
    bottom: -5px;
    right: -5px;
}

.ext-trans-modal .ui-resizable-sw {
    cursor: nesw-resize;
    width: 15px;
    height: 15px;
    bottom: -5px;
    left: -5px;
}

.ext-trans-modal .ui-resizable-nw {
    cursor: nwse-resize;
    width: 15px;
    height: 15px;
    top: -5px;
    left: -5px;
}

.ext-trans-modal .ui-resizable-ne {
    cursor: nesw-resize;
    width: 15px;
    height: 15px;
    top: -5px;
    right: -5px;
}
